<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/tienda_online</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.search.autoregister_listeners">true</property>
        <property name="hibernate.validator.apply_to_ddl">false</property>
        <mapping class="main.java.model.entities.DetallesPedido"/>
        <mapping class="main.java.model.entities.Usuarios"/>
        <mapping class="main.java.model.entities.Impuestos"/>
        <mapping class="main.java.model.entities.OpcionesMenu"/>
        <mapping class="main.java.model.entities.Roles"/>
        <mapping class="main.java.model.entities.Proveedores"/>
        <mapping class="main.java.model.entities.Configuracion"/>
        <mapping class="main.java.model.entities.Descuentos"/>
        <mapping class="main.java.model.entities.Pedidos"/>
        <mapping class="main.java.model.entities.Productos"/>
        <mapping class="main.java.model.entities.MetodosPago"/>
        <mapping class="main.java.model.entities.Categorias"/>
        <mapping class="main.java.model.entities.Valoraciones"/>
    </session-factory>
</hibernate-configuration>
